.add-task-container {
    margin: 15px 0;
    width: 100%;
    display: flex;
}

.add-task-input {
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    flex: 2;
    background-color: rgb(248, 241, 241);
    font-size: 16px;
    outline: none;
}

.add-task-input:hover{
    background-color: rgb(30, 30, 238);
    color: rgb(0, 0, 0);

}

.add-task-button-container {
    margin-left: 10px;
    flex: 1;
}